/* Grid.css */
.grid-overlay {
    position: absolute; /* Позволяет наложить сетку на другие элементы */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Позволяет взаимодействовать с элементами под сеткой */
    z-index: 9999; /* Убедитесь, что сетка находится поверх других элементов */
}

.grid-overlay div {
    position: absolute;
    border-left: 1px dashed rgba(0, 0, 0, 0.5);
    height: 100%;
}

.grid-overlay div:nth-child(1) { left: 8.33%; }  /* 1 колонка */
.grid-overlay div:nth-child(2) { left: 16.66%; } /* 2 колонка */
.grid-overlay div:nth-child(3) { left: 25%; }    /* 3 колонка */
.grid-overlay div:nth-child(4) { left: 33.33%; }  /* 4 колонка */
.grid-overlay div:nth-child(5) { left: 41.66%; }  /* 5 колонка */
.grid-overlay div:nth-child(6) { left: 50%; }     /* 6 колонка */
.grid-overlay div:nth-child(7) { left: 58.33%; }  /* 7 колонка */
.grid-overlay div:nth-child(8) { left: 66.66%; }  /* 8 колонка */
.grid-overlay div:nth-child(9) { left: 75%; }     /* 9 колонка */
.grid-overlay div:nth-child(10) { left: 83.33%; } /* 10 колонка */
.grid-overlay div:nth-child(11) { left: 91.66%; } /* 11 колонка */
.grid-overlay div:nth-child(12) { left: 100%; }   /* 12 колонка */
